body {
  margin: 0;
}

/* solution with h1 only */

h1 {
  background-color: #281b2d;
  color: #fff;
  text-align: center;
  font-size: 72px;
  margin-top: 0;
  padding: 25px 0;
}

/* solution with header styled */

/* header {
  background-color: #281B2D;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 72px;
  margin: 0;
} */

.subhead {
  background-color: #281b2d;
  color: #fcd801;
  font-size: 48px;
  padding: 20px;
  border-bottom: 5px solid #00c54c;
}

.white-text {
  color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.columns {
  display: flex;
}

.main-content {
  width: 65%;
  margin-right: 5%;
}

.sidebar {
  width: 30%;
  background-color: #9ae84f;
}

.col-right {
  margin-left: 25px;
}

.subhead-sidebar {
  margin: 15px;
  padding: 5px;
}

a:hover {
  color: #9138b7;
}

img {
  width: 20rem;
  padding: 5px;
  margin: 10px;
}

.margin-left-25 {
  margin-left: 25px;
  justify-content: safe;
}

.m-t-0 {
  margin-top: 0px;
}
